<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Nodejs App - About</title>
    <link href = "./css/styles.css" rel = "stylesheet"/>
    <link href = "./img/weather.png" rel = "icon"/>
</head>
<body>
    <div class="main_content">
        {{>header}}
        <p>This site is created by Yash Arora. It uses the Dark Sky API to fetch weather details of a location.</p>
        <img class = "about" src = "./img/tumblr_mlmf6b77NY1qdqwrro1_500.gif"/>
    </div>
    {{>footer}}
</body>
</html>